<p-toast></p-toast>
<div class="admin-page">
    <p-card header="{{editable ? 'Update' : 'Create'}}" subheader="{{editable ? 'Edit the category' : 'Add a category'}}">
        <p-toolbar>
            <div class="p-toolbar-group-left">
                <p-button (onClick)="onSubmit()" label="{{editable ? 'Update the category' : 'Add a new category'}}" icon="pi pi-plus" styleClass="p-button-primary"></p-button>                   
                <p-button routerLink="/categories" label="Go Back" icon="pi pi-arrow-circle-left" styleClass="p-button-danger"></p-button>                   
            </div>
        </p-toolbar>
        
        <div class="p-grid">
            <div class="p-col-12">
              <form [formGroup]="form">
                <div class="p-fluid p-formgrid grid">
                    <div class="p-field col-4">
                      <label for="name" class="mb-2">Name</label>
                      <input formControlName="name" id="name" type="text" pInputText />
                      <small *ngIf="categoryData.name.invalid && categoryData.name.touched" class="p-error"
                        >Name is required</small
                      >
                    </div>
                    <div class="p-field col-4">
                      <label for="icon" class="mb-2">Icon</label>
                      <input formControlName="icon" id="icon" type="text" pInputText />
                      <small *ngIf="categoryData.icon.invalid && categoryData.icon.touched" class="p-error"
                        >Icon is required</small
                      >
                    </div> 
                    <div class="p-field col-4">
                      <label for="icon" class="mb-2">Color</label>     <br>                 
                      <p-colorPicker formControlName="color"></p-colorPicker>
                    </div>                   
                  </div>
              </form>
            </div>
        </div>
    </p-card>
</div>