<p-toast></p-toast>
<div class="admin-page">
    <p-card header="Categories" subheader="Add a category">
        <p-toolbar>
            <div class="p-toolbar-group-left">
                <p-button (onClick)="onSubmit()" label="Add a new category" icon="pi pi-plus" styleClass="p-button-primary"></p-button>                   
                <p-button routerLink="/categories" label="Go Back" icon="pi pi-arrow-circle-left" styleClass="p-button-danger"></p-button>                   
            </div>
        </p-toolbar>
        
        <div class="p-grid">
            <div class="p-col-12">
              <form [formGroup]="form">
                <div class="p-fluid p-formgrid p-grid">
                    <div class="p-field p-col">
                      <label for="name">Name</label>
                      <input formControlName="name" id="name" type="text" pInputText />
                      <small *ngIf="categoryData.name.invalid && categoryData.name.touched" class="p-error"
                        >Name is required</small
                      >
                    </div>
                    <div class="p-field p-col">
                      <label for="icon">Icon</label>
                      <input formControlName="icon" id="icon" type="text" pInputText />
                      <small *ngIf="categoryData.icon.invalid && categoryData.name.touched" class="p-error"
                        >Icon is required</small
                      >
                    </div>                   
                  </div>
              </form>
            </div>
        </div>
    </p-card>
</div>