<header>
  <div class="grid">
    <div class="col-3">
      <div class="logo">
        <img src="assets/images/logo.png" alt="logo" />
      </div>
    </div>
    <div class="col-4 offset-1">
      <div class="search">
        <ng-shop-product-search></ng-shop-product-search>
      </div>
    </div>
    <div class="col-3">
      <div class="nav-menu">
        <ngshop-nav-menu></ngshop-nav-menu>
      </div>
    </div>
    <div class="col-1">
      <div class="icons">
        <i class="pi pi-user"></i>
        <i class="pi pi-shopping-cart"></i>      
      </div>
    </div>
  </div>
</header>
