.nav {
  display: flex;
  list-style: none;

  li {
    margin-right: 16px;

    a{
    //   color: var(--surface-200);
      color: var(--surface-700);
      cursor: pointer;

      &:hover {
        color: $primary-color;
      }
    }
  }
}
